body {
  margin: 0 auto;
  max-width: 50em;
  line-height: 1.5;
  padding: 4em 1em;
  background-color: rgb(22, 25, 37);
  color: white;
}
.black_background {
  margin-top: 2px;
  background-color: black;
}
.center {
  text-align: center;
}
h1 {
  font-size: 65px;
  font-family: "Lobster Two", cursive;
  color: rgb(51, 131, 206);
}
h2 {
  margin-top: 1em;
  padding-top: 1em;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  color: rgb(44, 140, 230);
}
#about_me h2 {
  margin: 1em 0;
  padding: 1em 0;
}
h3 {
  font-family: "Quicksand", sans-serif;
}
a {
  color: rgb(51, 131, 206);
  transition: color 0.5s;
}
a:hover {
  color: rgb(194, 100, 0);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
img {
  width: 300px;
  height: auto;
}
#introduction {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
#projects {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  margin: 0px 20px;
}

/*
.project_grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
*/
#about_me {
  text-align: center;
  padding: 0px 30px 30px 10px;
}
#about_me_header {
  text-align: center;
  padding: 0px 30px;
}
#me {
  width: 180px;
  height: 185px;
  border-radius: 50%;
  object-fit: cover;
  transition: all 0.25s;
}

#me:hover {
  transform: scale(1.1);
  border-radius: 10%;
}
#contacts {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 10px;
}
/*
@keyframes myspinner {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: myspinner 4s;
  animation-iteration-count: infinite;
}
*/
@media (max-width: 700px) {
  p {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
}
