body {
  margin: 0 auto;
  max-width: 75em;
  line-height: 1.5;
  padding: 1em 1em;
  background-color: rgb(22, 25, 37);
  color: rgb(236, 236, 236);
}
.black_background {
  margin-top: 2px;
  background-color: rgb(15, 17, 26);
}
.txt_center {
  text-align: center;
}
.card {
  background-color: rgb(33, 35, 44);
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
}
.project {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0px 0px 0px;
}
p{
  font-size: 18px;
}
h1 {
  font-size: 65px;
  font-family: "Lobster Two", cursive;
  color: rgb(51, 131, 206);
}
h2 {
  margin-top: 1em;
  font-size: 40px;
  font-family: "Quicksand", sans-serif;
  color: rgb(51, 131, 206);
}
#about_me h2 {
  margin: 5px 0px 0px 10px;
  padding: 5px 0px 0px 10px;
}
h3 {
  font-family: "Quicksand", sans-serif;
}
a {
  color: rgb(51, 131, 206);
  transition: color 0.5s;
}
a:hover {
  color: rgb(194, 100, 0);
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
img {
  width: auto;
  height: 300px;
}
#introduction {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#projects {
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  align-content: space-between;
  margin: 0px 75px;
}
#about_me {
  text-align: center;
  padding: 0px 85px;
  margin-bottom: 35px;
}
#about_me_header {
  text-align: center;
  padding: 0px 10px;
}
#me {
  width: 180px;
  height: 185px;
  border-radius: 50%;
  /* padding: 25px 15px 15px 15px; */
  object-fit: cover;
  object-position: 80% 35%;
  transition: all 0.25s;
}
#name {
  padding: 0px 0px 0px 25px;
}
#me:hover {
  transform: scale(1.1);
  border-radius: 20%;
}
#contacts {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 20px;
}
/*
@keyframes myspinner {
  from {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  animation: myspinner 4s;
  animation-iteration-count: infinite;
}
*/
@media (max-width: 736px) {
  p {
    font-size: 15px;
  }
  a {
    font-size: 15px;
  }
  .project {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#projects {
  display: flex;
  flex-flow:  wrap;
  justify-content: center;
  align-content: center;
  margin: 0px 85px;
  }
}
